body {
    background:linear-gradient(to right, #252830, #1c1e24);
    font-size: 16px;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lista, .result {
    text-align: center;
    justify-content: center;    
    padding: 20px;
    margin: auto;
    max-width: 30%;    
}
#randomNumber, #sortednumber {
    padding: 5px;    
}
button {
    border: 0px;
    background: rgb(53, 73, 114);
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 6px;    
    justify-content: center;
    margin: auto;
    max-width: 30%;
    display: flex;
}
button:active {
    border: 0px;
    background: rgb(95, 108, 134);
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 6px;        
    justify-content: center;
    margin: auto;
    max-width: 30%;
    display: flex;
}
.esito {
    display: none;
    color: red;
    text-align: center;    
}